.button_nav{
	border: 1px solid #C0C0C0;
	background-color: #ecf4ff! important;
	opacity: 1.0;
	cursor: pointer;
	vertical-align: bottom;*/
}
.button_nav:hover{
	border: 1px solid #C0C0C0;
	background-color: #ecf4ff! important;
	opacity: 0.5;
	cursor: pointer;
}

.button_header{
	border: 1px solid #C0C0C0;
	background-color: #ecf4ff! important;
	opacity: 1.0;
	cursor: pointer;
}
.button_header:hover{
	border: 1px solid #C0C0C0;
	background-color: #ecf4ff! important;
	opacity: 0.5;
	cursor: pointer;
}
